   
    <div class="intro-activities">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-title">
                        <h1>Activities</h1>
                        <h3>Fan Favorites</h3>
                        <hr class="intro-divider">
                       
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Human Chair<br>Mary's favorite</h2>
                    <%= link_to "activities", '#'%><p class="lead"> Start by leaning up against a wall and slowly bending your knees </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "wallsit.jpg", class: "img-responsive", alt: "exercise"  %>
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Roger's favorite<br>Sock Toss</h2>
                    <p class="lead">Make a target. A laundrey basket is wonderful for these type of <%= link_to "activities", '#'%>. You can start a contest and make this an all out sport. It helps to pick team colors, black socks against white.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "sock.jpg", class: "img-responsive", alt: "exercise"  %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A walk in the park<br>Ted's Favorite</h2>
                    <p class="lead">Walking and strolling - here to the park and back in 40 minutes <%= link_to "my favorite park", '#'%>, as well as <%= link_to "my other favorite park", '#'%>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "park.jpg", class: "img-responsive", alt: "exercise"  %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->