   
    <div class="intro-goals">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-title">
                        <h1>Goals</h1>
                        <h3>Fam Favorites</h3>
                        <hr class="intro-divider">
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

   


    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The Big Wedding<br>Erik's goal</h2>
                    <%= link_to "goals", '#'%><p class="lead"> Erik wants to enjoy his granddaughter's wedding in style. She plans to capture a few good shots on her camera and share it with her friends.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "wedding.jpg", class: "img-responsive", alt: "grandpa at wedding"  %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Curling Championship<br>John's goal</h2>
                    <p class="lead">John had been curling at the local curling club for 30 years<%= link_to "goals", '#'%>After a losing his ability to walk, he felt life had left him behind. With determination he gets back into his game.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "curling.jpg", class: "img-responsive", alt: "wheelchair curling"  %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cross Country tour<br>Jesse's and Sam's retirement</h2>
                    <p class="lead">Bikes and RV all ready, Jesse and Sam plan to retire and take an adventure across the country. They have a map, and some scenic places to see. <%= link_to "Trip", '#'%>, as well as <%= link_to "my other favorite park", '#'%>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "bike.jpg", class: "img-responsive", alt: "Couple out biking"  %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->